<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Register New Employer</h3>
        <form  #f="ngForm" (ngSubmit)="onSubmitHandler(f)">
            <div class="from-group">
                <label for="RegisterUserName">User Name</label>
                <input type="text" class="form-control" id="RegisterUserName" 
                name="userName" ngModel #userName="ngModel" placeholder="Enter UserName">
            </div>
            <div class="from-group">
                <label for="RegisterEmail">Email</label>
                <input type="text" class="form-control" id="RegisterEmail" 
                name="regEmail" ngModel #regEmail="ngModel" placeholder="Enter UserName">
            </div>
            <div class="from-group mb-3">
                <label for="RegisterPassword">Password</label>
                <input type="password" class="form-control" id="RegisterPassword" 
                name="password" ngModel #password="ngModel" placeholder="Enter Password">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Register <i class="fas fa-sign-in-alt"></i></button>
        </form>
    </div>
</div>