<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Reset Password</h3>
        <form #f="ngForm" (ngSubmit)="onSubmitHandler(f)">
            <div class="from-group mb-3">
                <label for="resetPasswordEmail">Account Email</label>
                <input type="text" class="form-control" id="resetPasswordEmail" 
                name="resetPassword" ngModel #resetPassword="ngModel" placeholder="Enter Email">
            </div>
            
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Reset Password <i class="fas fa-paper-plane"></i></button>
        </form>
    </div>
</div>